### 2.4 데이터프레임 고급 인덱싱

In [1]:
import numpy as np
import pandas as pd

- loc 인덱서

In [2]:
df = pd.DataFrame(np.arange(10,22).reshape(3, 4),
                  index=list('abc'), columns=list('ABCD'))
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [8]:
df.loc['b', 'C']        # loc[행 인덱스, 열 인덱스]

16

In [3]:
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [4]:
df.loc['a':'b']         # df['a':'b']와 동일한 결과

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [5]:
df.loc[['a', 'b']]

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [6]:
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [7]:
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

- 행 인덱스 슬라이싱

In [9]:
df.loc['b':'c', 'B':'C']        # 이름인 경우에는 : 뒤 행/열을 포함

    B   C
b  15  16
c  19  20

- iloc 인덱서

In [10]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [11]:
df.iloc[1]

A    14
B    15
C    16
D    17
Name: b, dtype: int32

In [12]:
df.iloc[1:2, 1:2]           # 숫자는 : 뒤 행/열 숫자가 포함되지 않음.

    B
b  15

In [15]:
df.iloc[1:, 1:3]

    B   C
b  15  16
c  19  20

- 연습 문제 4.3.1

- 1) 모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.

- 2) 10가지 이상의 방법으로 특정한 행과 열을 선택한다.

In [16]:
df = pd.DataFrame(np.arange(10, 35).reshape(5, 5), index=list('vwxyz'), columns=list('ABCDE'))
df

    A   B   C   D   E
v  10  11  12  13  14
w  15  16  17  18  19
x  20  21  22  23  24
y  25  26  27  28  29
z  30  31  32  33  34

In [31]:
df['C']['y'], df['C'].y, df.C['y'], df.C.y, df['C'][3], df.C[3]

(27, 27, 27, 27, 27, 27)

In [32]:
df.loc['y', 'C'], df.loc['y']['C'], df.loc['y'].C, df.loc['y'][2]

(27, 27, 27, 27)

In [37]:
df.iloc[3, 2], df.iloc[3][2], df.iloc[3].C, df.iloc[3]['C']

(27, 27, 27, 27)

In [45]:
df[3:4].C[0], df.iloc[3:4, 2:3].values[0,0]

(27, 27)

In [47]:
df.loc['평균', :] = df.mean(axis=0)
df

       A     B     C     D     E
v   10.0  11.0  12.0  13.0  14.0
w   15.0  16.0  17.0  18.0  19.0
x   20.0  21.0  22.0  23.0  24.0
y   25.0  26.0  27.0  28.0  29.0
z   30.0  31.0  32.0  33.0  34.0
평균  20.0  21.0  22.0  23.0  24.0

In [48]:
df.loc['합'] = df.sum(axis=0)
df

        A      B      C      D      E
v    10.0   11.0   12.0   13.0   14.0
w    15.0   16.0   17.0   18.0   19.0
x    20.0   21.0   22.0   23.0   24.0
y    25.0   26.0   27.0   28.0   29.0
z    30.0   31.0   32.0   33.0   34.0
평균   20.0   21.0   22.0   23.0   24.0
합   120.0  126.0  132.0  138.0  144.0