### 2.9 시계열 자료 다루기

In [1]:
import numpy as np
import pandas as pd

- DatetimeIndex

In [2]:
date_str = ['2023, 9, 12']
pd.to_datetime(date_str)

DatetimeIndex(['2023-09-12'], dtype='datetime64[ns]', freq=None)

In [3]:
date_str = ['2023-09-12', '2023.9.13', '2023, 9, 14']
pd.to_datetime(date_str)

DatetimeIndex(['2023-09-12', '2023-09-13', '2023-09-14'], dtype='datetime64[ns]', freq=None)

In [4]:
df = pd.DataFrame(np.random.randint(60, 100, 3),
                  columns=['score'], index=pd.to_datetime(date_str))
df

            score
2023-09-12     95
2023-09-13     92
2023-09-14     98

In [5]:
pd.date_range('2023-09-01', '2023-09-30')   # 시작일, 종료일

DatetimeIndex(['2023-09-01', '2023-09-02', '2023-09-03', '2023-09-04',
               '2023-09-05', '2023-09-06', '2023-09-07', '2023-09-08',
               '2023-09-09', '2023-09-10', '2023-09-11', '2023-09-12',
               '2023-09-13', '2023-09-14', '2023-09-15', '2023-09-16',
               '2023-09-17', '2023-09-18', '2023-09-19', '2023-09-20',
               '2023-09-21', '2023-09-22', '2023-09-23', '2023-09-24',
               '2023-09-25', '2023-09-26', '2023-09-27', '2023-09-28',
               '2023-09-29', '2023-09-30'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range('2023-09-01', periods=30)     # 시작일, 기간

DatetimeIndex(['2023-09-01', '2023-09-02', '2023-09-03', '2023-09-04',
               '2023-09-05', '2023-09-06', '2023-09-07', '2023-09-08',
               '2023-09-09', '2023-09-10', '2023-09-11', '2023-09-12',
               '2023-09-13', '2023-09-14', '2023-09-15', '2023-09-16',
               '2023-09-17', '2023-09-18', '2023-09-19', '2023-09-20',
               '2023-09-21', '2023-09-22', '2023-09-23', '2023-09-24',
               '2023-09-25', '2023-09-26', '2023-09-27', '2023-09-28',
               '2023-09-29', '2023-09-30'],
              dtype='datetime64[ns]', freq='D')

In [8]:
# 9월 영업일(Biz day)
pd.date_range('2023-09-01', '2023-09-30', freq='B')

DatetimeIndex(['2023-09-01', '2023-09-04', '2023-09-05', '2023-09-06',
               '2023-09-07', '2023-09-08', '2023-09-11', '2023-09-12',
               '2023-09-13', '2023-09-14', '2023-09-15', '2023-09-18',
               '2023-09-19', '2023-09-20', '2023-09-21', '2023-09-22',
               '2023-09-25', '2023-09-26', '2023-09-27', '2023-09-28',
               '2023-09-29'],
              dtype='datetime64[ns]', freq='B')

In [10]:
# 1년중 각 월의 주말이 아닌 시작하는 월-금요일
pd.date_range('2023-01-01', '2023-12-31', freq='BMS')       # Biz Monthly Start

DatetimeIndex(['2023-01-02', '2023-02-01', '2023-03-01', '2023-04-03',
               '2023-05-01', '2023-06-01', '2023-07-03', '2023-08-01',
               '2023-09-01', '2023-10-02', '2023-11-01', '2023-12-01'],
              dtype='datetime64[ns]', freq='BMS')

- resample

In [12]:
df = pd.DataFrame(np.random.randint(500, 1000, 300),
                  index=pd.date_range('2023-01-01', periods=300),
                  columns=['sales'])
df.tail()

            sales
2023-10-23    542
2023-10-24    843
2023-10-25    610
2023-10-26    971
2023-10-27    983

In [13]:
df.resample('M').first()        # M : month의 마지막날에서 첫번째날

            sales
2023-01-31    522
2023-02-28    847
2023-03-31    622
2023-04-30    691
2023-05-31    688
2023-06-30    970
2023-07-31    573
2023-08-31    709
2023-09-30    717
2023-10-31    538