### 서울시 자치구 연도별 방범용 CCTV 운영 현황_230630기준

In [1]:
import numpy as np
import pandas as pd

In [2]:
cctv_df = pd.read_csv('data/서울시 자치구 연도별 방범용 CCTV 운영 현황_230630기준.csv', encoding='EUC-KR', index_col='구분')
del cctv_df['No.']
cctv_df.head()

UnicodeDecodeError: 'euc_kr' codec can't decode byte 0x95 in position 428: illegal multibyte sequence

In [8]:
for col in cctv_df.columns:
    print(col, type(cctv_df[col][0]))

2015년 <class 'str'>
2016년 <class 'str'>
2017년 <class 'str'>
2018년 <class 'str'>
2019년 <class 'str'>
2020년 <class 'str'>
2021년 <class 'numpy.int64'>
2022년 <class 'numpy.int64'>
2023년 <class 'str'>

In [11]:
for col in cctv_df.columns:
    if col in ['2021년', '2022년']:
        continue
    cctv_df[col] = cctv_df[col].replace(',','',regex=True).astype(int)      # cctv[col].str.replace(',','')
cctv_df

      2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  2023년
구분
종로구     935   1066   1225   1322   1338   1526   1573   1812   1808
중구      363    565    838   1174   1234   1482   1911   2026   2026
용산구    1398   1689   1831   1888   1986   2131   2321   2531   2647
성동구    1089   1328   2103   2390   2697   3162   3519   3627   3643
광진구     638    657   1112   1586   2233   2375   3111   3370   3359
동대문구   1202   1425   1535   1775   1969   2142   2471   2592   2592
중랑구     751    898   1047   1203   2250   3165   3592   3856   3856
성북구    1035   1534   1940   2542   2895   3081   3815   4014   4129
강북구     608    840    841   1159   1656   2337   2960   3184   3184
도봉구     345    443    542    679    835    979   1684   1994   2120
노원구     956   1268   1433   1577   1763   2021   2171   2284   2281
은평구    1719   2075   2310   2669   3164   3431   3822   4103   4103
서대문구    952   1179   1525   1764   2100   2499   2591   2928   3006
마포구     623    970   1328   1703   2011   2268   2372   2500   2500
양천구    1898   2026   2367   2655   2928   3136   3393   3627   3609
강서구     801    960   1164   1386   1858   2346   2637   3151   3209
구로구    1407   1719   2231   2819   3074   3455   3842   4013   4122
금천구     990   1090   1181   1563   1894   2247   2276   2498   2730
영등포구    904   1140   1429   2055   2093   3250   3508   3896   3964
동작구     961   1200   1471   1690   1904   2155   2181   2404   2402
관악구    1496   2048   2611   3247   3800   4071   3390   4029   4245
서초구    1548   1785   2169   2582   2938   3175   3442   3180   3180
강남구    2319   3447   4232   4834   5459   5796   6143   6495   6495
송파구     713    798    913   1364   2052   2372   2520   2805   2821
강동구     670    863   1134   1596   1871   2475   2720   3086   3088

In [41]:
cctv_df_to_int = cctv_df.loc[:, '2015년':'2023년'].replace(',', '', regex=True).astype(int)
cctv_df_to_int

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  2023년
No.
1      935   1066   1225   1322   1338   1526   1573   1812   1808
2      363    565    838   1174   1234   1482   1911   2026   2026
3     1398   1689   1831   1888   1986   2131   2321   2531   2647
4     1089   1328   2103   2390   2697   3162   3519   3627   3643
5      638    657   1112   1586   2233   2375   3111   3370   3359
6     1202   1425   1535   1775   1969   2142   2471   2592   2592
7      751    898   1047   1203   2250   3165   3592   3856   3856
8     1035   1534   1940   2542   2895   3081   3815   4014   4129
9      608    840    841   1159   1656   2337   2960   3184   3184
10     345    443    542    679    835    979   1684   1994   2120
11     956   1268   1433   1577   1763   2021   2171   2284   2281
12    1719   2075   2310   2669   3164   3431   3822   4103   4103
13     952   1179   1525   1764   2100   2499   2591   2928   3006
14     623    970   1328   1703   2011   2268   2372   2500   2500
15    1898   2026   2367   2655   2928   3136   3393   3627   3609
16     801    960   1164   1386   1858   2346   2637   3151   3209
17    1407   1719   2231   2819   3074   3455   3842   4013   4122
18     990   1090   1181   1563   1894   2247   2276   2498   2730
19     904   1140   1429   2055   2093   3250   3508   3896   3964
20     961   1200   1471   1690   1904   2155   2181   2404   2402
21    1496   2048   2611   3247   3800   4071   3390   4029   4245
22    1548   1785   2169   2582   2938   3175   3442   3180   3180
23    2319   3447   4232   4834   5459   5796   6143   6495   6495
24     713    798    913   1364   2052   2372   2520   2805   2821
25     670    863   1134   1596   1871   2475   2720   3086   3088

In [42]:
cctv_df_to_int['합계'] = cctv_df_to_int.sum(axis=1)

In [43]:
cctv_df_to_int

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  2023년     합계
No.
1      935   1066   1225   1322   1338   1526   1573   1812   1808  12605
2      363    565    838   1174   1234   1482   1911   2026   2026  11619
3     1398   1689   1831   1888   1986   2131   2321   2531   2647  18422
4     1089   1328   2103   2390   2697   3162   3519   3627   3643  23558
5      638    657   1112   1586   2233   2375   3111   3370   3359  18441
6     1202   1425   1535   1775   1969   2142   2471   2592   2592  17703
7      751    898   1047   1203   2250   3165   3592   3856   3856  20618
8     1035   1534   1940   2542   2895   3081   3815   4014   4129  24985
9      608    840    841   1159   1656   2337   2960   3184   3184  16769
10     345    443    542    679    835    979   1684   1994   2120   9621
11     956   1268   1433   1577   1763   2021   2171   2284   2281  15754
12    1719   2075   2310   2669   3164   3431   3822   4103   4103  27396
13     952   1179   1525   1764   2100   2499   2591   2928   3006  18544
14     623    970   1328   1703   2011   2268   2372   2500   2500  16275
15    1898   2026   2367   2655   2928   3136   3393   3627   3609  25639
16     801    960   1164   1386   1858   2346   2637   3151   3209  17512
17    1407   1719   2231   2819   3074   3455   3842   4013   4122  26682
18     990   1090   1181   1563   1894   2247   2276   2498   2730  16469
19     904   1140   1429   2055   2093   3250   3508   3896   3964  22239
20     961   1200   1471   1690   1904   2155   2181   2404   2402  16368
21    1496   2048   2611   3247   3800   4071   3390   4029   4245  28937
22    1548   1785   2169   2582   2938   3175   3442   3180   3180  23999
23    2319   3447   4232   4834   5459   5796   6143   6495   6495  45220
24     713    798    913   1364   2052   2372   2520   2805   2821  16358
25     670    863   1134   1596   1871   2475   2720   3086   3088  17503

In [44]:
cctv_df_to_int.loc['합계', :] = cctv_df_to_int.sum()

In [45]:
cctv_df_to_int

,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년,합계
No.,,,,,,,,,,
1,935.0,1066.0,1225.0,1322.0,1338.0,1526.0,1573.0,1812.0,1808.0,12605.0
2,363.0,565.0,838.0,1174.0,1234.0,1482.0,1911.0,2026.0,2026.0,11619.0
3,1398.0,1689.0,1831.0,1888.0,1986.0,2131.0,2321.0,2531.0,2647.0,18422.0
4,1089.0,1328.0,2103.0,2390.0,2697.0,3162.0,3519.0,3627.0,3643.0,23558.0
5,638.0,657.0,1112.0,1586.0,2233.0,2375.0,3111.0,3370.0,3359.0,18441.0
6,1202.0,1425.0,1535.0,1775.0,1969.0,2142.0,2471.0,2592.0,2592.0,17703.0
7,751.0,898.0,1047.0,1203.0,2250.0,3165.0,3592.0,3856.0,3856.0,20618.0
8,1035.0,1534.0,1940.0,2542.0,2895.0,3081.0,3815.0,4014.0,4129.0,24985.0
9,608.0,840.0,841.0,1159.0,1656.0,2337.0,2960.0,3184.0,3184.0,16769.0
10,345.0,443.0,542.0,679.0,835.0,979.0,1684.0,1994.0,2120.0,9621.0
11,956.0,1268.0,1433.0,1577.0,1763.0,2021.0,2171.0,2284.0,2281.0,15754.0
12,1719.0,2075.0,2310.0,2669.0,3164.0,3431.0,3822.0,4103.0,4103.0,27396.0
13,952.0,1179.0,1525.0,1764.0,2100.0,2499.0,2591.0,2928.0,3006.0,18544.0
14,623.0,970.0,1328.0,1703.0,2011.0,2268.0,2372.0,2500.0,2500.0,16275.0
15,1898.0,2026.0,2367.0,2655.0,2928.0,3136.0,3393.0,3627.0,3609.0,25639.0
16,801.0,960.0,1164.0,1386.0,1858.0,2346.0,2637.0,3151.0,3209.0,17512.0
17,1407.0,1719.0,2231.0,2819.0,3074.0,3455.0,3842.0,4013.0,4122.0,26682.0
18,990.0,1090.0,1181.0,1563.0,1894.0,2247.0,2276.0,2498.0,2730.0,16469.0
19,904.0,1140.0,1429.0,2055.0,2093.0,3250.0,3508.0,3896.0,3964.0,22239.0
20,961.0,1200.0,1471.0,1690.0,1904.0,2155.0,2181.0,2404.0,2402.0,16368.0
21,1496.0,2048.0,2611.0,3247.0,3800.0,4071.0,3390.0,4029.0,4245.0,28937.0
22,1548.0,1785.0,2169.0,2582.0,2938.0,3175.0,3442.0,3180.0,3180.0,23999.0
23,2319.0,3447.0,4232.0,4834.0,5459.0,5796.0,6143.0,6495.0,6495.0,45220.0
24,713.0,798.0,913.0,1364.0,2052.0,2372.0,2520.0,2805.0,2821.0,16358.0
25,670.0,863.0,1134.0,1596.0,1871.0,2475.0,2720.0,3086.0,3088.0,17503.0
합계,26321.0,33013.0,40512.0,49222.0,58002.0,67077.0,73965.0,80005.0,81119.0,509236.0

In [59]:
cctv = pd.read_csv('data/서울시 자치구 연도별 방범용 CCTV 운영 현황_230630기준.csv', encoding='EUC-KR', index_col='No.')
cctv.head()

      구분  2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  2023년
No.
1    종로구    935  1,066  1,225  1,322  1,338  1,526   1573   1812  1,808
2     중구    363    565    838  1,174  1,234  1,482   1911   2026  2,026
3    용산구  1,398  1,689  1,831  1,888  1,986  2,131   2321   2531  2,647
4    성동구  1,089  1,328  2,103  2,390  2,697  3,162   3519   3627  3,643
5    광진구    638    657  1,112  1,586  2,233  2,375   3111   3370  3,359

In [76]:
cctv_1 = pd.DataFrame()
for col in cctv.columns:
    if col == '구분':
        cctv_1[col] = cctv[col]
    elif col != '구분':
        cctv_1[col] = cctv[col].apply(lambda x: int(str(x).replace(',','')))
cctv_1.reset_index(inplace=True)
cctv_1

    No.    구분  2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  2023년
0     1   종로구    935   1066   1225   1322   1338   1526   1573   1812   1808
1     2    중구    363    565    838   1174   1234   1482   1911   2026   2026
2     3   용산구   1398   1689   1831   1888   1986   2131   2321   2531   2647
3     4   성동구   1089   1328   2103   2390   2697   3162   3519   3627   3643
4     5   광진구    638    657   1112   1586   2233   2375   3111   3370   3359
5     6  동대문구   1202   1425   1535   1775   1969   2142   2471   2592   2592
6     7   중랑구    751    898   1047   1203   2250   3165   3592   3856   3856
7     8   성북구   1035   1534   1940   2542   2895   3081   3815   4014   4129
8     9   강북구    608    840    841   1159   1656   2337   2960   3184   3184
9    10   도봉구    345    443    542    679    835    979   1684   1994   2120
10   11   노원구    956   1268   1433   1577   1763   2021   2171   2284   2281
11   12   은평구   1719   2075   2310   2669   3164   3431   3822   4103   4103
12   13  서대문구    952   1179   1525   1764   2100   2499   2591   2928   3006
13   14   마포구    623    970   1328   1703   2011   2268   2372   2500   2500
14   15   양천구   1898   2026   2367   2655   2928   3136   3393   3627   3609
15   16   강서구    801    960   1164   1386   1858   2346   2637   3151   3209
16   17   구로구   1407   1719   2231   2819   3074   3455   3842   4013   4122
17   18   금천구    990   1090   1181   1563   1894   2247   2276   2498   2730
18   19  영등포구    904   1140   1429   2055   2093   3250   3508   3896   3964
19   20   동작구    961   1200   1471   1690   1904   2155   2181   2404   2402
20   21   관악구   1496   2048   2611   3247   3800   4071   3390   4029   4245
21   22   서초구   1548   1785   2169   2582   2938   3175   3442   3180   3180
22   23   강남구   2319   3447   4232   4834   5459   5796   6143   6495   6495
23   24   송파구    713    798    913   1364   2052   2372   2520   2805   2821
24   25   강동구    670    863   1134   1596   1871   2475   2720   3086   3088

In [97]:
cctv_1.drop(columns=['level_0', 'index'], inplace=True)

In [104]:
cctv_1.loc[:, '2015년':'2023년'] = cctv_1.loc[:, '2015년':'2023년'].astype(int)
cctv_1.set_index(keys=['No.', '구분'], inplace=True)
cctv_1

,,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년,구별 합계
No.,구분,,,,,,,,,,
1,종로구,935,1066,1225,1322,1338,1526,1573,1812,1808,75630
2,중구,363,565,838,1174,1234,1482,1911,2026,2026,69714
3,용산구,1398,1689,1831,1888,1986,2131,2321,2531,2647,110532
4,성동구,1089,1328,2103,2390,2697,3162,3519,3627,3643,141348
5,광진구,638,657,1112,1586,2233,2375,3111,3370,3359,110646
6,동대문구,1202,1425,1535,1775,1969,2142,2471,2592,2592,106218
7,중랑구,751,898,1047,1203,2250,3165,3592,3856,3856,123708
8,성북구,1035,1534,1940,2542,2895,3081,3815,4014,4129,149910
9,강북구,608,840,841,1159,1656,2337,2960,3184,3184,100614
10,도봉구,345,443,542,679,835,979,1684,1994,2120,57726
11,노원구,956,1268,1433,1577,1763,2021,2171,2284,2281,94524
12,은평구,1719,2075,2310,2669,3164,3431,3822,4103,4103,164376
13,서대문구,952,1179,1525,1764,2100,2499,2591,2928,3006,111264
14,마포구,623,970,1328,1703,2011,2268,2372,2500,2500,97650
15,양천구,1898,2026,2367,2655,2928,3136,3393,3627,3609,153834
16,강서구,801,960,1164,1386,1858,2346,2637,3151,3209,105072
17,구로구,1407,1719,2231,2819,3074,3455,3842,4013,4122,160092
18,금천구,990,1090,1181,1563,1894,2247,2276,2498,2730,98814
19,영등포구,904,1140,1429,2055,2093,3250,3508,3896,3964,133434
20,동작구,961,1200,1471,1690,1904,2155,2181,2404,2402,98208
21,관악구,1496,2048,2611,3247,3800,4071,3390,4029,4245,173622
22,서초구,1548,1785,2169,2582,2938,3175,3442,3180,3180,143994
23,강남구,2319,3447,4232,4834,5459,5796,6143,6495,6495,271320
24,송파구,713,798,913,1364,2052,2372,2520,2805,2821,98148
25,강동구,670,863,1134,1596,1871,2475,2720,3086,3088,105018
년도별 합계,,26321,33013,40512,49222,58002,67077,73965,80005,81119,3055416

In [105]:
cctv_1.loc['년도별 합계', :]

    2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  2023년    구별 합계
구분
    26321  33013  40512  49222  58002  67077  73965  80005  81119  3055416

In [86]:
cctv_1['구별 합계'] = cctv_1.sum(axis=1).astype(int)
cctv_1.loc['년도별 합계'][:] = cctv_1.sum().astype(int)
cctv_1

C:\Users\human\AppData\Local\Temp\ipykernel_12404\672907400.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cctv_1.loc['년도별 합계'][:] = cctv_1.sum().astype(int)
C:\Users\human\AppData\Local\Temp\ipykernel_12404\672907400.py:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  cctv_1.loc['년도별 합계'][:] = cctv_1.sum().astype(int)

,,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년,구별 합계
No.,구분,,,,,,,,,,
1,종로구,935.0,1066.0,1225.0,1322.0,1338.0,1526.0,1573.0,1812.0,1808.0,75630
2,중구,363.0,565.0,838.0,1174.0,1234.0,1482.0,1911.0,2026.0,2026.0,69714
3,용산구,1398.0,1689.0,1831.0,1888.0,1986.0,2131.0,2321.0,2531.0,2647.0,110532
4,성동구,1089.0,1328.0,2103.0,2390.0,2697.0,3162.0,3519.0,3627.0,3643.0,141348
5,광진구,638.0,657.0,1112.0,1586.0,2233.0,2375.0,3111.0,3370.0,3359.0,110646
6,동대문구,1202.0,1425.0,1535.0,1775.0,1969.0,2142.0,2471.0,2592.0,2592.0,106218
7,중랑구,751.0,898.0,1047.0,1203.0,2250.0,3165.0,3592.0,3856.0,3856.0,123708
8,성북구,1035.0,1534.0,1940.0,2542.0,2895.0,3081.0,3815.0,4014.0,4129.0,149910
9,강북구,608.0,840.0,841.0,1159.0,1656.0,2337.0,2960.0,3184.0,3184.0,100614
10,도봉구,345.0,443.0,542.0,679.0,835.0,979.0,1684.0,1994.0,2120.0,57726
11,노원구,956.0,1268.0,1433.0,1577.0,1763.0,2021.0,2171.0,2284.0,2281.0,94524
12,은평구,1719.0,2075.0,2310.0,2669.0,3164.0,3431.0,3822.0,4103.0,4103.0,164376
13,서대문구,952.0,1179.0,1525.0,1764.0,2100.0,2499.0,2591.0,2928.0,3006.0,111264
14,마포구,623.0,970.0,1328.0,1703.0,2011.0,2268.0,2372.0,2500.0,2500.0,97650
15,양천구,1898.0,2026.0,2367.0,2655.0,2928.0,3136.0,3393.0,3627.0,3609.0,153834
16,강서구,801.0,960.0,1164.0,1386.0,1858.0,2346.0,2637.0,3151.0,3209.0,105072
17,구로구,1407.0,1719.0,2231.0,2819.0,3074.0,3455.0,3842.0,4013.0,4122.0,160092
18,금천구,990.0,1090.0,1181.0,1563.0,1894.0,2247.0,2276.0,2498.0,2730.0,98814
19,영등포구,904.0,1140.0,1429.0,2055.0,2093.0,3250.0,3508.0,3896.0,3964.0,133434
20,동작구,961.0,1200.0,1471.0,1690.0,1904.0,2155.0,2181.0,2404.0,2402.0,98208
21,관악구,1496.0,2048.0,2611.0,3247.0,3800.0,4071.0,3390.0,4029.0,4245.0,173622
22,서초구,1548.0,1785.0,2169.0,2582.0,2938.0,3175.0,3442.0,3180.0,3180.0,143994
23,강남구,2319.0,3447.0,4232.0,4834.0,5459.0,5796.0,6143.0,6495.0,6495.0,271320
24,송파구,713.0,798.0,913.0,1364.0,2052.0,2372.0,2520.0,2805.0,2821.0,98148
25,강동구,670.0,863.0,1134.0,1596.0,1871.0,2475.0,2720.0,3086.0,3088.0,105018
년도별 합계,,26321.0,33013.0,40512.0,49222.0,58002.0,67077.0,73965.0,80005.0,81119.0,3055416

In [12]:
cctv_df_1 = pd.read_csv('data/서울시 자치구 연도별 방범용 CCTV 운영 현황_230630기준.csv', encoding='EUC-KR', index_col='구분', thousands=',')
cctv_df_1.head()

     No.  2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  2023년
구분
종로구    1    935   1066   1225   1322   1338   1526   1573   1812   1808
중구     2    363    565    838   1174   1234   1482   1911   2026   2026
용산구    3   1398   1689   1831   1888   1986   2131   2321   2531   2647
성동구    4   1089   1328   2103   2390   2697   3162   3519   3627   3643
광진구    5    638    657   1112   1586   2233   2375   3111   3370   3359

In [13]:
del cctv_df_1['No.']

In [15]:
cctv_df_1.head()

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  2023년
구분
종로구    935   1066   1225   1322   1338   1526   1573   1812   1808
중구     363    565    838   1174   1234   1482   1911   2026   2026
용산구   1398   1689   1831   1888   1986   2131   2321   2531   2647
성동구   1089   1328   2103   2390   2697   3162   3519   3627   3643
광진구    638    657   1112   1586   2233   2375   3111   3370   3359

In [16]:
cctv_df_1.head()

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  2023년
구분
종로구    935   1066   1225   1322   1338   1526   1573   1812   1808
중구     363    565    838   1174   1234   1482   1911   2026   2026
용산구   1398   1689   1831   1888   1986   2131   2321   2531   2647
성동구   1089   1328   2103   2390   2697   3162   3519   3627   3643
광진구    638    657   1112   1586   2233   2375   3111   3370   3359

In [17]:
cctv_df_1['cctv 댓수'] = cctv_df_1.sum(axis=1)
cctv_df_1

      2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  2023년  cctv 댓수
구분
종로구     935   1066   1225   1322   1338   1526   1573   1812   1808    12605
중구      363    565    838   1174   1234   1482   1911   2026   2026    11619
용산구    1398   1689   1831   1888   1986   2131   2321   2531   2647    18422
성동구    1089   1328   2103   2390   2697   3162   3519   3627   3643    23558
광진구     638    657   1112   1586   2233   2375   3111   3370   3359    18441
동대문구   1202   1425   1535   1775   1969   2142   2471   2592   2592    17703
중랑구     751    898   1047   1203   2250   3165   3592   3856   3856    20618
성북구    1035   1534   1940   2542   2895   3081   3815   4014   4129    24985
강북구     608    840    841   1159   1656   2337   2960   3184   3184    16769
도봉구     345    443    542    679    835    979   1684   1994   2120     9621
노원구     956   1268   1433   1577   1763   2021   2171   2284   2281    15754
은평구    1719   2075   2310   2669   3164   3431   3822   4103   4103    27396
서대문구    952   1179   1525   1764   2100   2499   2591   2928   3006    18544
마포구     623    970   1328   1703   2011   2268   2372   2500   2500    16275
양천구    1898   2026   2367   2655   2928   3136   3393   3627   3609    25639
강서구     801    960   1164   1386   1858   2346   2637   3151   3209    17512
구로구    1407   1719   2231   2819   3074   3455   3842   4013   4122    26682
금천구     990   1090   1181   1563   1894   2247   2276   2498   2730    16469
영등포구    904   1140   1429   2055   2093   3250   3508   3896   3964    22239
동작구     961   1200   1471   1690   1904   2155   2181   2404   2402    16368
관악구    1496   2048   2611   3247   3800   4071   3390   4029   4245    28937
서초구    1548   1785   2169   2582   2938   3175   3442   3180   3180    23999
강남구    2319   3447   4232   4834   5459   5796   6143   6495   6495    45220
송파구     713    798    913   1364   2052   2372   2520   2805   2821    16358
강동구     670    863   1134   1596   1871   2475   2720   3086   3088    17503

In [18]:
cctv_df_1['최근증가율'] = cctv_df_1[['2020년', '2021년', '2023년']].sum(axis=1) / cctv_df_1['cctv 댓수'] * 100

In [21]:
cctv_df_1['최근증가율'] = cctv_df_1['최근증가율'].round(2)

In [22]:
cctv_df_1

,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년,cctv 댓수,최근증가율
구분,,,,,,,,,,,
종로구,935,1066,1225,1322,1338,1526,1573,1812,1808,12605,38.93
중구,363,565,838,1174,1234,1482,1911,2026,2026,11619,46.64
용산구,1398,1689,1831,1888,1986,2131,2321,2531,2647,18422,38.54
성동구,1089,1328,2103,2390,2697,3162,3519,3627,3643,23558,43.82
광진구,638,657,1112,1586,2233,2375,3111,3370,3359,18441,47.96
동대문구,1202,1425,1535,1775,1969,2142,2471,2592,2592,17703,40.70
중랑구,751,898,1047,1203,2250,3165,3592,3856,3856,20618,51.47
성북구,1035,1534,1940,2542,2895,3081,3815,4014,4129,24985,44.13
강북구,608,840,841,1159,1656,2337,2960,3184,3184,16769,50.58
도봉구,345,443,542,679,835,979,1684,1994,2120,9621,49.71
노원구,956,1268,1433,1577,1763,2021,2171,2284,2281,15754,41.09
은평구,1719,2075,2310,2669,3164,3431,3822,4103,4103,27396,41.45
서대문구,952,1179,1525,1764,2100,2499,2591,2928,3006,18544,43.66
마포구,623,970,1328,1703,2011,2268,2372,2500,2500,16275,43.87
양천구,1898,2026,2367,2655,2928,3136,3393,3627,3609,25639,39.54
강서구,801,960,1164,1386,1858,2346,2637,3151,3209,17512,46.78
구로구,1407,1719,2231,2819,3074,3455,3842,4013,4122,26682,42.80
금천구,990,1090,1181,1563,1894,2247,2276,2498,2730,16469,44.04
영등포구,904,1140,1429,2055,2093,3250,3508,3896,3964,22239,48.21
동작구,961,1200,1471,1690,1904,2155,2181,2404,2402,16368,41.17
관악구,1496,2048,2611,3247,3800,4071,3390,4029,4245,28937,40.45
서초구,1548,1785,2169,2582,2938,3175,3442,3180,3180,23999,40.82
강남구,2319,3447,4232,4834,5459,5796,6143,6495,6495,45220,40.77
송파구,713,798,913,1364,2052,2372,2520,2805,2821,16358,47.15
강동구,670,863,1134,1596,1871,2475,2720,3086,3088,17503,47.32